#SearchBar{
	display: flex;
	justify-content: center;
	clear: both;
}
h1{
	width: 100%;
	text-align: center;
}
#SearchBar input{
	width:75%;
	clear: both;
}

.imagesContainer{
	display: flex;
    width: 100%;
   
    justify-content: center;
     margin: 25px 25px 25px 25px;
}


.ImageColumn{
	width:600px;
	height:600px ;
	margin: 20px;
  
}

p{
	width:100%;
	text-align: center;
}